@model TaskManagement.Models.ViewModel.TaskModel
@{
    ViewBag.Title = "AddTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card mx-auto mt-5" style="width:80%">
        <div class="card-header"><h2 class=" text-success">Create Task</h2></div>
        <div class="card-body">
            @using (Html.BeginForm("CreateTask", "Teacher", FormMethod.Post , new { @class= "was-validated"}))
            {

                <input type="text" name="CreatorID" value=@ViewBag.TeacherId hidden />
                <div class="row mb-3">
                    <div class="col-lg-12">
                        @Html.LabelFor(m => m.TaskName)
                        @Html.TextBoxFor(m => m.TaskName, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(m => m.TaskName)
                        @*<div class="valid-feedback">TaskName Filed</div>*@
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-12">
                        @Html.LabelFor(m => m.Deadline)
                        <input type="date" name="Deadline" class="form-control deadline" required />
                        @Html.ValidationMessageFor(m => m.Deadline)
                        @*<div class="valid-feedback">Valid.</div>*@
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-12">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(m => m.Description)
                        @*<div class="valid-feedback">Valid.</div>*@
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                </div>

                <input type="submit" name="submit" class="btn btn-outline-success" />
                @Html.ActionLink("Back to HomePage", "TeacherDashboard", new { Controller = "Teacher" }, new { @class = "btn btn-outline-warning" })
            }

        </div>

    </div>
</div>
<script>
    $('.deadline').prop('min', new Date().toLocaleDateString('en-CA'));
</script>
