@model List<TaskManagement.Models.ViewModel.AssignmentModelList>

<div class="container-fluid">
    <div class="card mx-auto mt-5" style="width:80%">
        <div class="card-header"><h2 class=" text-success">Total Assign Student List</h2></div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-success table-hover">
                <thead class="text-black bg-light">
                    <tr>
                        <th>Sr.No</th>
                        <th>TaskName</th>
                        <th>Student Name</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td> <!-- Displaying serial number -->
                            <td>@Model[i].TaskName</td>
                            <td>@Model[i].StudentName</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-end">

                @{ int StartPage = Math.Max(1, ViewBag.page - 2);
                    int EndingPage = Math.Min(ViewBag.totalPage, StartPage + 4); }

                @if (ViewBag.page > 1)
                {

                    @Html.ActionLink("First", "GetAllTaskAssignedStudentList", "Teacher", new { pageNumber = 1 }, htmlAttributes: new { @class = "btn btn-info Previous" })}


                @for (int i = StartPage; i <= EndingPage; i++)
                {

                    @Html.ActionLink(@i.ToString(), "GetAllTaskAssignedStudentList", "Teacher", new { pageNumber = i }, htmlAttributes: new { @class = "btn btn-info mx-1 Previous" })}
                @if (ViewBag.page * ViewBag.pageSize < ViewBag.totalCount)
                {
                    @Html.ActionLink("Last", "GetAllTaskAssignedStudentList", "Teacher", new { pageNumber = ViewBag.totalPage }, htmlAttributes: new { @class = "btn btn-info mx-2 Next" })}

            </div>
        </div>
        <div class="card-footer">
            @Html.ActionLink("Back to HomePage", "TeacherDashboard", new { Controller = "Teacher" }, new { @class = "btn btn-outline-warning" })

        </div>
    </div>
</div>
