@model List<TaskManagement.Models.ViewModel.AssignmentModelList>


<div class="container-fluid">
    <div class="card mx-auto mt-5" style="width:80%">


        <div class="card-header"><h2 class=" text-success">Pending Assignment List</h2></div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-success table-hover">
                <thead class="text-black bg-light">
                    <tr>
                        <th>TaskName</th>
                        <th>DeadLine</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model != null)
                    {


                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.TaskName</td>
                                <td>@item.Deadline</td>
                                <td>
                                    @if (item.status == false)
                                    {
                                        if (@item.Deadline > DateTime.Now)
                                        {
                                            <div><a class=" btn btn-warning" href="~/Student/SetAssignmentStatus?id=@item.AssignmentID">Please Submit</a></div>
                                        }
                                        else
                                        {
                                            <button class="btn btn-danger">Deadline over</button>
                                        }
                                    }
                                    else
                                    {
                                        <button class="btn btn-success">Submitted</button>
                                    }
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-end">

                @{ int StartPage = Math.Max(1, ViewBag.page - 2);
                    int EndingPage = Math.Min(ViewBag.totalPage, StartPage + 4); }

                @if (ViewBag.page > 1)
                {

                    @Html.ActionLink("First", "PendingAssignmentList", "Student", new { pageNumber = 1 }, htmlAttributes: new { @class = "btn btn-info Previous" })}


                @for (int i = StartPage; i <= EndingPage; i++)
                {

                    @Html.ActionLink(@i.ToString(), "PendingAssignmentList", "Student", new { pageNumber = i }, htmlAttributes: new { @class = "btn btn-info mx-1 Previous" })}
                @if (ViewBag.page * ViewBag.pageSize < ViewBag.totalCount)
                {
                    @Html.ActionLink("Last", "PendingAssignmentList", "Student", new { pageNumber = ViewBag.totalPage }, htmlAttributes: new { @class = "btn btn-info mx-2 Next" })}

            </div>
        </div>
        <div class="card-footer"><a href="./StudentDashboard"> <button class="btn btn-warning">Back to HomePage</button></a></div>
    </div>
</div>

